<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<display-name>Aplicacion Administrativa del RUG</display-name>

	<servlet>
		<servlet-name>filesServlet</servlet-name>
		<servlet-class>gt.gob.rgm.adm.service.FilesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>filesBdServlet</servlet-name>
		<servlet-class>gt.gob.rgm.adm.service.FilesBdServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>adjuntoServlet</servlet-name>
		<servlet-class>gt.gob.rgm.adm.service.AdjuntoServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>rugBoletaServlet</servlet-name>
		<servlet-class>gt.gob.rgm.adm.service.RugBoletaServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>filesServlet</servlet-name>
		<url-pattern>/attachment/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>filesBdServlet</servlet-name>
		<url-pattern>/attachmentb/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>adjuntoServlet</servlet-name>
		<url-pattern>/attachmenti/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>rugBoletaServlet</servlet-name>
		<url-pattern>/rugboletap/*</url-pattern>
	</servlet-mapping>
	
</web-app>