<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="section"></div>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">Depósitos pendientes de aprobar</span>
              </div>
            </div>
            <div class="row">
              <table>
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Banco</th>
                    <th>Boleta</th>
                    <th>Persona</th>
                    <th>Monto</th>
                    <th>Tipo de pago</th> 
                    <th>Opciones</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th>
                      <!-- <input type="text" #filBancoInput [(ngModel)]="filBanco" (ngModelChange)="filBancoChanged($event)" [ngModelOptions]="{updateOn: 'blur'}" (keyup.enter)="onFilBanco()"> -->
                      <select materialize="material_select" #filBancoInput [(ngModel)]="filBanco" (ngModelChange)="filBancoChanged($event)">
                        <option value="" selected>Todos</option>
                        <option value="1">Banrural </option>
                        <option value="2">CHN</option>
                        <option value="BI3">Banco Industrial</option>
                      </select>
                    </th>
                    <th><input type="text" #filBoletaInput [(ngModel)]="filBoleta" (ngModelChange)="filBoletaChanged($event)" [ngModelOptions]="{updateOn: 'blur'}" (keyup.enter)="onFilBoleta()"></th>
                    <th><input type="text" #filPersonaInput [(ngModel)]="filPersona" (ngModelChange)="filPersonaChanged($event)" [ngModelOptions]="{updateOn: 'blur'}" (keyup.enter)="onFilPersona()"></th>
                    <th></th>
                    <th>
                      <!-- <input type="text" #filTipoPagoInput [(ngModel)]="filTipoPago" (ngModelChange)="filTipoPagoChanged($event)" [ngModelOptions]="{updateOn: 'blur'}" (keyup.enter)="onFilTipoPago()"> -->
                      <select materialize="material_select" #filTipoPagoInput [(ngModel)]="filTipoPago" (ngModelChange)="filTipoPagoChanged($event)">
                        <option value="" selected>Todos</option>
                        <option value="1">Efectivo</option>
                        <option value="2">Cheque Propio</option>
                        <option value="3">Cheque Otros Bancos</option>
                      </select>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deposit of deposits | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }; let i = index">
                    <td>{{ deposit.fechaHora | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ deposit.agencia | banco }}</td>
                    <td>{{ deposit.numero }}</td>
                    <td>{{ deposit.externalUser ? deposit.externalUser.name : '' }}</td>
                    <td *ngIf="deposit.codigoTramite != 4">{{ deposit.monto | currency:'Q' }}</td>
                    <td *ngIf="deposit.codigoTramite == 4">
                        <ul>
                          <li>Total: {{ deposit.monto | currency:'Q' }}</li>
                          <li>Otros Bancos: {{ deposit.montoOtrosBancos | currency:'Q' }}</li>
                        </ul>                        
                    </td>
                    <td>{{ deposit.tipoPago | pago }}</td>
                    <td>
                      <a
                        *ngIf="deposit.tieneArchivo"
                        class="waves-effect waves-light btn"
                        (click)="onViewAttachmentClicked(deposit)"><i class="material-icons">attachment</i></a>
                      <a
                        class="waves-effect waves-light btn indigo"
                        (click)="onAproveDepositClicked(deposit, i)"><i class="material-icons">check_circle</i></a>
                      <a
                        class="waves-effect waves-light btn red darken-4"
                        (click)="onRejectDepositClicked(deposit, i)"><i class="material-icons">cancel</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-template #p="paginationApi"
                id="server"
                (pageChange)="onPageChange($event)">
                <ul class="pagination custom-pagination">
                  <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
                    <a *ngIf="!p.isFirstPage()" (click)="p.previous()"><i class="material-icons">chevron_left</i></a>
                  </li>
                  <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" [class.waves-effect]="p.getCurrent() !== page.value">
                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                      {{ page.label }}
                    </a>
                    <a *ngIf="p.getCurrent() === page.value">
                      {{ page.label }}
                    </a>
                  </li>
                  <li class="pagination-next" [class.disabled]="p.isLastPage()">
                    <a *ngIf="!p.isLastPage()" (click)="p.next()"><i class="material-icons">chevron_right</i></a>
                  </li>
                </ul>
              </pagination-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col s1"></div>
    </div>
  </div>
</main>
<div class="section"></div>
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Ver adjuntos</h4>
    <div *ngIf="modalDeposit">
      <a href="{{ modalDeposit.url }}" target="_blank">Adjunto</a>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cerrar</a>
  </div>
</div>
<div id="modReject" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modRejectActions">
  <div class="modal-content">
    <h4>Escriba la causa del rechazo</h4>
    <form (ngSubmit)="rejectDeposit()" #f="ngForm">
      <div class="row">
        <div class="input-field col s12">
          <textarea
            id="causa"
            class="materialize-textarea"
            ngModel
            name="causa"
            required
            #causa="ngModel"></textarea>
          <label for="causa">Causa</label>
        </div>
      </div>
      <div class="row right-align">
        <button type="submit" class="waves-effect waves-green btn-flat">Aceptar</button>
        <a class="waves-effect waves-green btn-flat" (click)="closeModalReject()">Cerrar</a>
      </div>
    </form>
  </div>
</div>
