<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="section"></div>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col s1 xl3"></div>
      <div class="col s10 xl6">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">Tipos de Artículo</span>
              </div>
            </div>
            <div class="row">
              <a class="waves-effect waves-light btn-large" (click)="onAddTypeClicked()">Agregar</a>
              <table>
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let type of types; let i = index">
                    <td>{{ type.nombre }}</td>
                    <td>
                      <a
                        class="waves-effect waves-light btn indigo"
                        (click)="onEditTypeClicked(type, i)"><i class="material-icons">edit</i></a>
                      <a
                        class="waves-effect waves-light btn red darken-4"
                        [swal]="{title: 'Eliminar tipo de artículo', text: '¿Está seguro de eliminar el tipo de artículo?', type: 'warning', showCancelButton: true}"
                        (confirm)="onRemoveTypeClicked(i)"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col s1 xl3"></div>
    </div>
  </div>
</main>
<div class="section"></div>
<div id="modType" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Tipo de artículo</h4>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <form materialize class="col s12" (ngSubmit)="onSubmit()" [formGroup]="typeForm">
            <div class="row">
              <div class="input-field col s12">
                <input
                  type="text"
                  class="validate"
                  id="nombre"
                  formControlName="nombre">
                <label for="nombre">Nombre</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 right-align">
                <button
                  class="waves-effect waves-light btn"
                  type="submit"
                  [disabled]="!typeForm.valid">Guardar</button>
                <a class="waves-effect waves-light btn red darken-4" (click)="onCancelClicked()">Cancelar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
