<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="section"></div>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s10">
                <h4>Control de Cambios</h4>
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s8">
                                <span class="card-title">Detalle</span>
                            </div>
                            <div class="col s4 right-align">
                                <button class="waves-effect waves-light btn" type="button"
                                    (click)="onAddChangeClicked()">Agregar</button>
                                <button class="waves-effect waves-light btn" type="button"
                                    (click)="exportData()">Exportar</button>
                            </div>
                        </div>
                        <div class="row">
                            <ngx-daterangepicker [(ngModel)]="rangoFechas" (ngModelChange)="onRangeChanged($event)"
                                [options]="options"></ngx-daterangepicker>
                        </div>
                        <div class="row">
                            <table>
                                <thead>
                                    <tr>
                                        <th>No. Referencia</th>
                                        <th>Sistema</th>
                                        <th>Version</th>
                                        <th>Asunto</th>
                                        <th>Estado</th>
                                        <th>Responsable</th>
                                        <th>Impacto</th>
                                        <th>Fecha programada Inicio</th>
                                        <th>Fecha programada Fin</th>
                                        <th>Opciones</th>
                                    </tr>
                                    <tr>
                                        <th colspan="3"><input type="text" #filTextoInput [(ngModel)]="filTexto"
                                                (ngModelChange)="filTextoChanged($event)"
                                                [ngModelOptions]="{updateOn: 'blur'}" (keyup.enter)="onFilTexto()"></th>
                                        <th></th>
                                        <th>
                                            <select materialize="material_select" #filEstadoInput
                                                [(ngModel)]="filEstado" (ngModelChange)="filEstadoChanged($event)">
                                                <option value="" selected>Todos</option>
                                                <option value="991">Desarrollo</option>
                                                <option value="992">Pruebas</option>
                                                <option value="993">Publicado</option>
                                                <option value="4">En Espera</option>
                                            </select>
                                        </th>
                                        <th></th>
                                        <th>
                                            <select materialize="material_select" #filImpactoInput
                                                [(ngModel)]="filImpacto" (ngModelChange)="filImpactoChanged($event)">
                                                <option value="" selected>Todos</option>
                                                <option value="1">Bajo</option>
                                                <option value="2">Medio</option>
                                                <option value="3">Alto</option>
                                            </select>
                                        </th>
                                        <th class="hide-on-med-and-down"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let change of changes | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }; let i = index">
                                        <td>{{ change.cambioId }}</td>
                                        <td>{{ change.sistema }}</td>
                                        <td>{{ change.version }}</td>
                                        <td>{{ change.asunto }}</td>
                                        <td>{{ change.estado | estado }}</td>
                                        <td>{{ change.usuarioSolicitante }}</td>
                                        <td>{{ change.impacto | impacto }}</td>
                                        <td>{{ change.fechaInicio }}</td>
                                        <td>{{ change.fechaFin }}</td>
                                        <td>
                                            <a class="waves-effect waves-light btn indigo"
                                                (click)="onEditChangeClicked(change, i)"><i
                                                    class="material-icons">edit</i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-template #p="paginationApi" id="server" (pageChange)="onPageChange($event)">
                                <ul class="pagination custom-pagination">
                                    <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
                                        <a *ngIf="!p.isFirstPage()" (click)="p.previous()"><i
                                                class="material-icons">chevron_left</i></a>
                                    </li>
                                    <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value"
                                        [class.waves-effect]="p.getCurrent() !== page.value">
                                        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                            {{ page.label }}
                                        </a>
                                        <a *ngIf="p.getCurrent() === page.value">
                                            {{ page.label }}
                                        </a>
                                    </li>
                                    <li class="pagination-next" [class.disabled]="p.isLastPage()">
                                        <a *ngIf="!p.isLastPage()" (click)="p.next()"><i
                                                class="material-icons">chevron_right</i></a>
                                    </li>
                                </ul>
                            </pagination-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s1"></div>
        </div>
    </div>
</main>
<div class="section"></div>
<div id="modChange" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]"
    [materializeActions]="modalActions">
    <div class="modal-content">
        <h4>Cambio</h4>
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <form materialize class="col s12" (ngSubmit)="onSubmit()" [formGroup]="changeForm">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" id="sistema" formControlName="sistema">
                                <label for="sistema">Sistema:</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="text" class="validate" id="version" formControlName="version">
                                <label for="version">Version:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="impacto" materialize="material_select" formControlName="impacto">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="1">Bajo</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Alto</option>
                                </select>
                                <label for="impacto">Impacto:</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="estado" materialize="material_select" formControlName="estado">
                                    <option value="" disabled selected>Seleccione...</option>
                                    <option value="991">Desarrollo</option>
                                    <option value="992">Pruebas</option>
                                    <option value="993">Publicado</option>
                                    <option value="4">En Espera</option>
                                </select>
                                <label for="estado">Estado:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate" id="responsable" formControlName="responsable">
                                <label for="responsable">Responsable:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" id="descripcion" formControlName="descripcion"
                                    rows="5"></textarea>
                                <label for="descripcion">Descripcion:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <label for="fechaInicio">Fecha Programada Inicio:</label>
                                <p-calendar formControlName="fechaInicio" [showButtonBar]="true"
                                    dateFormat="dd/mm/yyyy" name="fechaInicio" id="fechaInicio" [showTime]="true"
                                    [hourFormat]="24"></p-calendar>
                            </div>
                            <div class="col s6">
                                <label for="fechaFin">Fecha Programada Fin:</label>
                                <p-calendar formControlName="fechaFin" [showButtonBar]="true" dateFormat="dd/mm/yyyy"
                                    name="fechaFin" id="fechaFin" [showTime]="true" [hourFormat]="24"></p-calendar>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" id="observaciones"
                                    formControlName="observaciones" rows="5"></textarea>
                                <label for="observaciones">Observaciones:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 right-align">
                                <button class="waves-effect waves-light btn" type="submit"
                                    [disabled]="!changeForm.valid">Guardar</button>
                                <a class="waves-effect waves-light btn red darken-4"
                                    (click)="onCancelClicked()">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>