<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="section"></div>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col s12">
        <h4>Ingresar garantía</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">Solicitante</span>
              </div>
            </div>
            <div class="row">
              <a class="waves-effect waves-light btn-large" (click)="onAddSolicitanteClicked()" *ngIf="solicitantes.length === 0">Agregar</a>
              <table>
                <thead>
                  <tr>
                    <th>Nombre, Denominación o Razón Social</th>
                    <th>No. Identificación \ No. Identificación Tributaria</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let solicitante of solicitantes; let i = index">
                    <td>{{ solicitante.name }}</td>
                    <td>{{ solicitante.docId ? solicitante.docId : solicitante.nit }}</td>
                    <td>
                      <a
                        class="waves-effect waves-light btn indigo"
                        (click)="onEditSolicitanteClicked(solicitante, i)"><i class="material-icons">edit</i></a>
                      <a
                        class="waves-effect waves-light btn red darken-4"
                        [swal]="{title: 'Quitar solicitante', text: '¿Está seguro de quitar al solicitante?', type: 'warning', showCancelButton: true}"
                        (confirm)="onRemoveSolicitanteClicked(i)"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">Deudor(es) garante(s)</span>
              </div>
            </div>
            <div class="row">
              <a class="waves-effect waves-light btn-large" (click)="onAddDeudorClicked()">Agregar</a>
              <table>
                <thead>
                  <tr>
                    <th>Nombre, Denominación o Razón Social</th>
                    <th>No. Identificación \ No. Identificación Tributaria</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let deudor of deudores; let i = index">
                    <td>{{ deudor.name }}</td>
                    <td>{{ deudor.docId ? deudor.docId : deudor.nit }}</td>
                    <td>
                      <a
                        class="waves-effect waves-light btn indigo"
                        (click)="onEditDeudorClicked(deudor, i)"><i class="material-icons">edit</i></a>
                      <a
                        class="waves-effect waves-light btn red darken-4"
                        [swal]="{title: 'Eliminar deudor', text: '¿Está seguro de eliminar al deudor?', type: 'warning', showCancelButton: true}"
                        (confirm)="onRemoveDeudorClicked(i)"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">Acreedor(es) garantizado(s)</span>
              </div>
            </div>
            <div class="row">
              <a class="waves-effect waves-light btn-large" (click)="onAddAcreedorClicked()">Agregar</a>
              <table>
                <thead>
                  <tr>
                    <th>Nombre, Denominación o Razón Social</th>
                    <th>No. Identificación \ No. Identificación Tributaria</th>
                    <th>Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let acreedor of acreedores; let i = index">
                    <td>{{ acreedor.name }}</td>
                    <td>{{ acreedor.docId ? acreedor.docId : acreedor.nit }}</td>
                    <td>
                      <a
                        class="waves-effect waves-light btn indigo"
                        (click)="onEditAcreedorClicked(acreedor, i)"><i class="material-icons">edit</i></a>
                      <a
                        class="waves-effect waves-light btn red darken-4"
                        [swal]="{title: 'Eliminar articulo', text: '¿Está seguro de eliminar al acreedor?', type: 'warning', showCancelButton: true}"
                        (confirm)="onRemoveAcreedorClicked(i)"><i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <span class="card-title">Información de la garantía</span>
              </div>
            </div>
            <div class="row">
              <form materialize (ngSubmit)="onSaveGarantiaSubmit()" [formGroup]="guaranteeForm">
                <div class="row">
                  <div class="input-field col s4">
                    <input
                      type="text"
                      class="validate"
                      id="numGarantia"
                      formControlName="numGarantia">
                    <label for="numGarantia">Numero de garantia</label>
                  </div>
                  <div class="input-field col s4">
                    <input
                      type="text"
                      class="validate"
                      id="numTramite"
                      formControlName="numTramite">
                    <label for="numTramite">Numero de tramite</label>
                  </div>
                  <div class="input-field col s4">
                    <input
                      type="text"
                      class="validate"
                      id="fechaCreacion"
                      formControlName="fechaCreacion">
                    <label for="fechaCreacion">Fecha de inscripcion</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea
                      id="descGarantia"
                      formControlName="descGarantia"
                      class="materialize-textarea"></textarea>
                    <label for="descGarantia">Descripción general</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea
                      id="instrumentoPublico"
                      formControlName="instrumentoPublico"
                     class="materialize-textarea"></textarea>
                    <label for="instrumentoPublico">Datos generales del contrato de la garantía</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <textarea
                      id="otrosTerminos"
                      formControlName="otrosTerminos"
                       class="materialize-textarea"></textarea>
                    <label for="otrosTerminos">Datos adicionales</label>
                  </div>
                </div>
                <div class="row">
                  <div class="file-field input-field col s12">
                    <div class="btn">
                      <span>Boleta</span>
                      <input
                        #boletaFile
                        type="file"
                        ng2FileSelect
                        [uploader]="uploader"
                        (change)="onFileChanged()">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="uploader.queue.length > 0">
                  <div *ngFor="let item of uploader.queue">
                    <div class="col s2">
                      <a
                        class="waves-effect waves-light btn red darken-4"
                        (click)="onRemoveBoletaClicked()"><i class="material-icons">delete</i></a>
                    </div>
                    <div class="col s10">
                      <p>{{item._file.name}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 right-align">
                    <button
                      class="waves-effect waves-light btn"
                      type="submit"
                      [disabled]="disabledGuarantee()">Guardar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div id="modPerson" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>{{personFormTitle}}</h4>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <form materialize (ngSubmit)="onSavePersonSubmit()" [formGroup]="personForm">
            <div class="row">
              <div class="input-field col s12">
                <select
                  id="tipo"
                  materialize="material_select"
                  id="personType"
                  formControlName="personType">
                  <option value="" disabled selected>Seleccione el tipo</option>
                  <option value="PF">Persona individual</option>
                  <option value="PM">Persona jurídica</option>
                </select>
                <label for="tipo">Tipo de persona</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select
                  id="tipo"
                  materialize="material_select"
                  [materializeSelectOptions]="countries"
                  id="nationality"
                  formControlName="nationality">
                  <option value="" disabled selected>Seleccione la nacionalidad</option>
                  <option *ngFor="let country of countries" value="{{country.idNacionalidad}}">{{country.descNacionalidad}}</option>
                </select>
                <label for="tipo">Nacionalidad</label>
              </div>
            </div>
            <div class="row" *ngIf="personForm.value.personType == 'PF'">
              <div class="input-field col s12">
                <input
                  type="text"
                  class="validate"
                  id="name"
                  formControlName="name">
                <label for="nombre" class="active">Nombre completo</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6" *ngIf="personForm.value.personType == 'PF'">
                <input
                  type="text"
                  class="validate"
                  id="docId"
                  formControlName="docId">
                <label for="docId" class="active">{{personForm.value.nationality === '1' ? 'Documento de Identificación' : 'Pasaporte'}}</label>
              </div>
              <div class="input-field col s6">
                <input
                  type="text"
                  class="validate"
                  id="nit"
                  formControlName="nit">
                <label for="nit" class="active">{{personForm.value.nationality === '1' ? 'NIT' : (personForm.value.personType == 'PF' ? 'NIT' : 'Número de registro tributario')}}</label>
              </div>
            </div>
            <div class="div" *ngIf="personForm.value.personType == 'PM'">
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    class="validate"
                    id="name"
                    formControlName="name">
                  <label for="name" class="active">Razón o denominación social</label>
                </div>
              </div>
              <div *ngIf="personFormType != 4">
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      type="text"
                      class="validate"
                      id="legalInscription"
                      formControlName="legalInscription">
                    <label for="legalInscription" class="active">Información de la inscripción de la persona jurídica</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input
                      type="text"
                      class="validate"
                      id="representativeInfo"
                      formControlName="representativeInfo">
                    <label for="representativeInfo" class="active">Datos del representante</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  type="text"
                  class="validate"
                  id="email"
                  formControlName="email">
                <label for="email" class="active">Correo electrónico</label>
              </div>
            </div>
            <div class="row" *ngIf="personFormType != 4">
              <div class="input-field col s12">
                <textarea
                  class="materialize-textarea"
                  id="address"
                  formControlName="address"></textarea>
                <label for="address" class="active">Domicilio</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 right-align">
                <button
                  class="waves-effect waves-light btn"
                  type="submit"
                  [disabled]="disabledPerson()">Guardar</button>
                <a class="waves-effect waves-light btn red darken-4" (click)="onCancelClicked()">Cancelar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
