<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="section"></div>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Solicitudes para despacho</span>
          <div class="row right-align" *ngIf="urlDespachoPdf">
            <a href="{{urlDespachoPdf}}" class="btn btn-primary" target="_blank">Descargar PDF</a>
          </div>
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Solicitante</th>
                  <th>Fecha</th>
                  <th>Observaciones</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let requisicion of requisiciones | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }; let i = index">
                  <td>{{ requisicion.correlativo }}</td>
                  <td>{{ requisicion.solicitante ? requisicion.solicitante.nombre : '' }}</td>
                  <td>{{ requisicion.fecha }}</td>
                  <td>{{ requisicion.observaciones }}</td>
                  <td>
                    <a
                      class="waves-effect waves-light btn-floating"
                      (click)="onViewRequisicionClicked(i)"><i class="material-icons">visibility</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-template #p="paginationApi"
              id="server"
              (pageChange)="onPageChange($event)">
              <ul class="pagination custom-pagination">
                <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
                  <a *ngIf="!p.isFirstPage()" (click)="p.previous()"><i class="material-icons">chevron_left</i></a>
                </li>
                <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value" [class.waves-effect]="p.getCurrent() !== page.value">
                  <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                    {{ page.label }}
                  </a>
                  <a *ngIf="p.getCurrent() === page.value">
                    {{ page.label }}
                  </a>
                </li>
                <li class="pagination-next" [class.disabled]="p.isLastPage()">
                  <a *ngIf="!p.isLastPage()" (click)="p.next()"><i class="material-icons">chevron_right</i></a>
                </li>
              </ul>
            </pagination-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="section"></div>
<div id="modDetalle" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Detalle para despacho</h4>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <table *ngIf="modalRequisicion">
            <thead>
              <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad solicitada</th>
                <th>Existencia</th>
                <th>Cantidad aprobada</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of modalRequisicion.detalle; let i = index">
                <td>{{ detalle.codigoArticulo }}</td>
                <td>{{ detalle.articulo.descripcion }}</td>
                <td>{{ detalle.cantidad }}</td>
                <td>{{ detalle.articulo.stock }}</td>
                <td>{{ detalle.cantidadAprobada }}</td>
                <td *ngIf="detalle.articulo.perecedero">
                  <!--<a class="waves-effect waves-light btn" (click)="onSeleccionarClicked(i)">Seleccionar</a>-->
                </td>
                <td *ngIf="!detalle.articulo.perecedero"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--<div *ngIf="stock && stock.length > 0">
          <div class="row right-align">
            <button
              class="waves-effect waves-light btn-floating indigo"
              type="button"
              (click)="onDetalleSelectedClicked()"><i class="material-icons">check_circle</i></button>
            <a class="waves-effect waves-light btn-floating red darken-4" (click)="onDetalleCanceledClicked()"><i class="material-icons">cancel</i></a>
          </div>
          <div class="row">
            <table>
              <thead>
                <tr>
                  <th>Fecha de vencimiento</th>
                  <th>Cantidad</th>
                  <th>Despachar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stockItem of stock; let i = index">
                  <td>{{ stockItem.fechaVencimiento ? stockItem.fechaVencimiento : 'Sin fecha de vencimiento' }}</td>                  
                  <td>
                    <input
                      type="text"
                      class="validate"
                      id="despachar"
                      [(ngModel)]="cantidadDespachar[i]" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>-->
        <div class="row" *ngIf="!rechazo">
          <div class="col s12 right-align">
            <button
              class="waves-effect waves-light btn indigo"
              type="button"
              (click)="onSubmit()">Despachar</button>
            <a class="waves-effect waves-light btn red darken-4" (click)="onCancelClicked()">Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<swal
  #swalCantidadSeleccionada
  title="Cantidad seleccionada"
  text="La cantidad ingresada para despachar debe ser igual a la cantidad aprobada."
  type="error">
</swal>
<swal
  #swalCantidadPerecedero
  title="Cantidad perecedero"
  text="Debe seleccionar los articulos perecederos para despachar."
  type="error">
</swal>
